* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #242424;
}

a:hover {
    text-decoration: underline;

}

ul {
    overflow: hidden;
}

li {
    list-style: none;
}



.wrap .footer{
    /* display: block;
    margin: 0 auto;
    background-color: #e7e3df;
    border-radius: 3px;
    padding: 10px; */
    width: 1200px;
    margin: 0 auto 30px;
}



